@{
	ViewData["Title"] = "Home Page";
}
@model MovieSeriesVM


<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h3>Filmler Listesi</h3>
			</div>
			<div class="card-body">
				<table class="display myTable nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Adı</th>
							<th>Açıklaması</th>
							<th>Yayınlanma Tarihi</th>
							<th>ImdbRating</th>
							<th>Yönetmen</th>
							<th>Kadro</th>
							<th>Tür</th>
							<th>Uzunluk</th>

						</tr>
					</thead>
					<tbody>
						@foreach (var movie in Model.Movies)
						{
							<tr>
								<td>@movie.MovieName</td>
								<td>@movie.Description</td>
								<td>@movie.ReleaseDateonly</td>
								<td>@movie.ImdbRating</td>
								<td>@movie.Director</td>
								<td>@movie.Cast</td>
								<td>@movie.Genre</td>
								<td>@movie.Duration</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h3>Diziler Listesi</h3>
			</div>
			<div class="card-body">
				<table class="display myTable nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Adı</th>
							<th>Açıklaması</th>
							<th>Yayınlanma Tarihi</th>
							<th>ImdbRating</th>
							<th>Yönetmen</th>
							<th>Kadro</th>
							<th>Tür</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var tvSeries in Model.TvSeries)
						{
							<tr>
								<td>@tvSeries.TvSeriesName</td>
								<td>@tvSeries.Description</td>
								<td>@tvSeries.ReleaseDateonly</td>
								<td>@tvSeries.ImdbRating</td>
								<td>@tvSeries.Director</td>
								<td>@tvSeries.Cast</td>
								<td>@tvSeries.Genre</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
